body {
    background: #242582;
    font-family: 'Satisfy', cursive;

}
.container {
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}
.score {
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}
.box {
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}
.images {
    font-family: 'Roboto Slab', serif;
    padding: 50px;
    color: whitesmoke;

}
.crystal {
    height: 100px;
    widows: 100px;
    background: lightpink;
}
.dasher {
    background: lightpink;
}
#counter {
    border: 5px solid black;
    width: 150px;
    position: relative;
}
.score {
    padding-left: 2rem;
}
.box {
    padding-left: 2rem;
}